.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  background-color: #fffaf0
}

th {
  text-align: left;
}

h1 {
  text-align: center;
  padding: 20px;
}

.control {
  display: inline-block;
  padding: 10px;
}

.welcome {
  text-align: left
}

.property_list {
  padding: 10px;
}

